node_modules/
**/node_modules/
examples/
build/
**/build/
dist/
coverage/
.atom/
*.zip
*.tgz
*.tar
*.tar.gz
*.7z
*.rar
._*
.DS_Store
.AppleDouble
.Spotlight-V100
.Trashes
*.log
npm-debug.log*
.env
.env.*
!.env.example
.npmrc
.vscode/
.idea/
